* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  text-align: center;
}

.tip_body {
  width: 90%;
  background: floralwhite;
  margin: 50px auto;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 180px;
  padding: 10px;
  text-align: center;
  background: #8845f4;
  color: white;
  border: none;
  border-radius: 5px;
}

#tip_amount {
  pointer-events: none;
}

#total_bill {
  pointer-events: none;

}

input {
  padding: 5px 10px;
  text-align: center;
}

.drop {
  width: 90%;
  background: floralwhite;
  margin: 50px auto;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.hidden{
  display: none;
}